@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
p{
  font-size: 1.5rem;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: #000;
}

html::-webkit-scrollbar-thumb {
  background: #ffd700;
  border-radius: 0.5rem;
}

section {
  padding: 5rem 7%;
}

.heading {
  font-size: 4rem;
  color: #ffd700;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 3rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: #000;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
}

.btn:hover {
  background: #ffd700;
  color: #000;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #ffd700;
}

.header .logo i {
  color: #ffd700;
  padding-right: 0.5rem;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #fff;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: #ffd700;
}

.header .navbar .btn {
  margin-top: 0;
  color: #fff;
}

.header .navbar .btn:hover {
  color: #fff;
}

#menu-btn {
  display: none;
  font-size: 2.5rem;
  margin-left: 1.7rem;
  cursor: pointer;
  color: #ffd700;
}

#menu-btn:hover {
  color: #000;
}
/* home */

.home {
  padding: 0;
}

.home .slide {
  min-height: 100vh;
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.home .slide .content {
  width: 80rem;
  text-align: center;
}

.home .slide .content h3 {
  font-size: 4rem;
  text-transform: uppercase;
  color: #ffd700;
  line-height: 1.1;
  padding: 2rem 0;
}

.swiper-button-next,
.swiper-button-prev {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #000;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
  color: #ffd700;
}

/* end */
/*rooms*/

/* availability */
.availability {
  margin-top: 5%;
}

.availability form {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background: #eee;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 10px 10px 20px #000;
}

.availability form .box {
  flex: 1 1 20rem;
}

.availability form .box p {
  font-size: 2rem;
  color: #000;
}

.availability form .box .input {
  width: 100%;
  padding: 1rem;
  font-size: 1.8rem;
  color: #333;
  margin: 1rem 0;
  border-radius: 0.5rem;
}
/*about*/
.about{
 margin-top: 100px;

}
.about {
    display: flex;
    height: 100%;
    background: url("images/banner.jpg")no-repeat center; /* Background color for the text side */
    background-size: cover;
    z-index: -1;
    
}

.image-container {
    flex: 1;
    position: relative;
    overflow: hidden;
    height: 75vh;
}

.background {
    background-image: url('images/hotel.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: zoomInOut 10s ease-in-out forwards;
    animation-iteration-count: infinite;
}

.text-container {
    flex: 1;
    padding: 20px;
    text-align: center;
    color: #fff; /* Text color for the text side */
    display: flex;
    height: 75vh;
    justify-content: center;
    flex-direction: column;
}

.text-container h2{
    font-size: 30px;
    margin-top: -120px;
    color: white; /* Adjust as needed */
}

.text-container p {
    font-size: 18px;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
/*services*/
.services1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

.service-item {
    flex: 0 0 calc(50% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.service-item img {
    width: 100%;
    height: 100%;
    box-shadow: 0 5 10px rgba(0, 0, 0, 0.3);
}

.service-item h2 {
    font-size: 24px;
    margin-top: 10px;
}

.service-item p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.read-more-button, .menu-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.read-more-button:hover, .menu-button:hover {
    background-color: #fdd700;
}.services1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

.service-item {
    flex: 0 0 calc(50% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.service-item img {
    width: 100%;
    height: 100%;
    box-shadow: 0 5 10px rgba(0, 0, 0, 0.3);
}

.service-item h2 {
    font-size: 24px;
    margin-top: 10px;
}

.service-item p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.read-more-button, .menu-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.read-more-button:hover, .menu-button:hover {
    background-color: #fdd700;
}

/* end */
.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.services .box-container .box {
  text-align: center;
}

.services .box-container .box img {
  height: 10rem;
  margin-bottom: 0.7rem;
  filter: grayscale(1);
}

.services .box-container .box h3 {
  font-size: 1.7rem;
  color: #000;
  padding: 0.5rem 0;
}
/* team section */
#team {
  align-items: center;
  justify-content: center;
  background: #a0a0a0;
}
#teamMembers {
  padding: 100px;
  border: 2px solid #000;
  border-style: none;
}
#teamMembers .container {
  position: relative;
  height: 600px;
  width: 600px;
  border: 2px solid #fff;
  border-radius: 50%;
  left: 21%;
}
.icon {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  left: -50%;
}
#teamMembers .container .icon .imgBx {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.5s;
  border: 1px solid #fff;
  box-shadow: 0 0 0 4px #000, 0 0 0 6px #fff;
  transform: rotate(calc(360deg / 4 * var(--i)));
  transform-origin: 370px;
  z-index: 100;
  overflow: hidden;
}
#teamMembers .container .icon .imgBx.active {
  box-shadow: 0 0 0 6px #222, 0 0 0 12px #ffd700;
}
#teamMembers .container .icon .imgBx img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 50%;
  transform: rotate(calc(-360deg / 4 * var(--i)));
  transition: 0.5s;
  filter: grayscale(1);
}
#teamMembers .container .icon .imgBx.active img {
  filter: grayscale(0);
}
#teamMembers .container .content {
  position: absolute;
  inset: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#teamMembers .container .content::before {
  content: "";
  position: absolute;
  inset: 60px;
  border: 4px solid transparent;
  border-left: 4px solid rgb(8, 8, 57);
  border-right: 4px solid #210a1c;
  border-radius: 50%;
  animation: animte_01 5s linear infinite;
  z-index: 1;
  pointer-events: none;
}
@keyframes animte_01 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
#teamMembers .container .content::after {
  content: "";
  position: absolute;
  inset: 120px;
  border: 4px solid transparent;
  border-left: 4px solid #991131;
  border-right: 4px solid #ffd700;
  border-radius: 50%;
  animation: animte_02 2.5s linear infinite;
  z-index: 1;
  pointer-events: none;
}
@keyframes animte_02 {
  0% {
    rotate: 360deg;
  }
  100% {
    rotate: 0deg;
  }
}

.contentBx {
  position: absolute;
  transform: scale(0);
  transition: 0.5s;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentBx.active {
  transform: scale(1);
  opacity: 1;
  transition-delay: 0.5s;
}
.contentBx .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.contentBx .card .imgBx {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 10px;
  overflow: hidden;
}
.contentBx .card .imgBx img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contentBx .card .textBx {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contentBx .card .textBx h2 {
  position: relative;
  font-size: 1.25em;
  font-weight: 600;
  color: #000;
  line-height: 1em;
  text-decoration: uppercase;
  text-align: center;
}
.contentBx .card .textBx h2 span {
  font-size: 0.65em;
  color: #000;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.contentBx .card .textBx .sci {
  position: relative;
  display: flex;
  gap: 7px;
  margin-top: 10px;
}
.contentBx .card .textBx .sci li {
  list-style: none;
}
.contentBx .card .textBx .sci li a {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3d3c3c;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.5s;
}
.contentBx .card .textBx .sci li a i {
  font-size: 2em;
}
.contentBx .card .textBx .sci li a:hover {
  background: #000000;
}

/* rooms */

.room .slide {
  background: #dad8d5;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  box-shadow: 0 0 5px #212020;
  margin-bottom: 4rem;
  margin-top: 5rem;
}

.room .slide .image {
  height: 25rem;
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
}

.room .slide .image img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.room .slide .image .price {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  background: #333;
  color: #fff;
  font-size: 1.7rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-transform: lowercase;
}

.room .slide .image .fa-shopping-cart {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  font-size: 2rem;
  background: #fff;
  color: #000;
  border-radius: 50%;
}

.room .slide .image .fa-shopping-cart:hover {
  background: #ffd700;
  color: #fff;
}

.room .slide .content {
  padding: 2rem;
  padding-top: 0;
}

.room .slide .content h3 {
  font-size: 2.5rem;
  color: #000;
}

.room .slide .content p {
  font-size: 1.6rem;
  color: #666;
  padding: 0.5rem 0;
  line-height: 1.5;
}

.room .slide .content .stars {
  padding: 1rem 0;
}

.room .slide .content .stars i {
  font-size: 1.7rem;
  color: #333;
}

/* end */

/* reservation */
#bookheading {
  color: #000;
  padding: 10px;
}
.reservation form {
  padding: 2rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  box-shadow: 10px 10px 30px #000;
}

.reservation form .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.reservation form .container .box {
  flex: 1 1 40rem;
}

.reservation form .container .box p {
  font-size: 1.8rem;
  color: #000;
}

.reservation form .container .box .input {
  font-size: 1.8rem;
  width: 100%;
  padding: 1rem 0;
  margin: 1rem 0;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.1);
  color: #000;
}
/*gallery */
#gallery .container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 8%;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}
.gallery img {
  width: 100%;
}

/* review */

.testimonials {
  width: 100%;
  padding: 40px 0;
  background-image: url("images/bg3.jpg");
  background-size: cover;
  background-position: center;
  animation: zoomEffect 5s alternate;
  color: #000;
  text-align: center;
}
.testimonials h1 {
  color: #0d4180;
  font-weight: 100;
  font-size: 2rem;
}
@keyframes zoomEffect {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}
.border {
  width: 160px;
  height: 5px;
  background: #0d4180;
  margin: 26px auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial {
  background: #f1f1f1;
  padding: 30px;
}
.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name {
  font-size: 20px;
  text-transform: capitalize;
  margin: 20px 0;
  font-style: italic;
}
.stars {
  color: #0d4180;
  margin-bottom: 20px;
}
/* contact section */
#contact .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}
#contact .container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: url(images/bg3.jpg) no-repeat center;
  background-size: cover;
  z-index: -1;
  filter: blur(50px);
}
.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 19px 4px #0d4180;
}
.left {
  height: 100%;
  background: url(images/bg1.jpg) no-repeat center;
  background-size: cover;
}
.right {
  padding: 40px;
}
h2 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #0d4180;
}
.field {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #e6e6e699;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
  border: 2px solid #514f4f;
  background-color: #e6e6e699;
}
.field:hover {
  background-color: #0000001a;
}
.field:focus {
  background-color: #fff;
  border: 2px solid #1e55fa78;
}

.area {
  min-height: 150px;
}
.cBtn {
  width: 100%;
  padding: 8px 16px;
  font-size: 1.1rem;
  background-color: #0d4180;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  transition: 0.3s;
}
.cBtn:hover {
  background-color: #0d4180;
}
/* footer */
.footer {
  background: #222;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  padding: 1rem 0;
  color: #ffd700;
}

.footer .box-container .box a {
  font-size: 1.6rem;
  display: block;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box a i {
  color: #ffd700;
  padding-right: 0.5rem;
}

.footer .box-container .box a:hover {
  color: #000;
}

.footer .share {
  padding-top: 2rem;
  text-align: center;
}

.footer .share a {
  color: #ffd700;
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  border: 0.1rem solid #000;
  margin: 0.3rem;
}

.footer .share a:hover {
  color: #fff;
  background: #000;
  transform: rotate(360deg);
}

.footer .credit {
  font-size: 2rem;
  text-align: center;
  margin-top: 2.5rem;
  padding-top: 2rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
  color: #ffd700;
}

.footer .credit span {
  color: #eee;
  font-style: italic;
}
